* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 18px;
}

.col-33 {
  width: 33.3333%;
}

.col-66 {
  width: 66.6777%;
}

body {
  display: flex;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.col-left-side {
  background-color: hsl(278deg, 68%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  animation-duration: 1s;
}

.form-submit {
  width: 50%;
  height: 100%;
  align-items: center;
  display: none;
  animation-duration: 1s;
}

a {
  display: block;
  text-decoration: none;
  width: 100%;
}

h1 {
  position: relative;
  top: -20%;
  font-size: 2rem;
}

.border-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.7rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
.input-wrapper__month, .input-wrapper__year, .input-wrapper__cvc {
  width: 33.33333%;
}
.input-wrapper__expire {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.input-wrapper__expire-cvc {
  position: relative;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
.input-wrapper__date-cvc {
  width: 100%;
}

.btn {
  height: 1.8rem;
  width: 100%;
}
.btn__btn-submit {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  border: none;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.btn__btn-submit:hover {
  background-color: rgba(70, 125, 245, 0.9);
  box-shadow: 0 0 5px blue;
}

.elem-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2.5px;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}
.elem-card__front {
  position: relative;
  background: linear-gradient(135deg, hsl(249deg, 99%, 64%), hsl(278deg, 95%, 30%));
  left: 30%;
}
.elem-card__front-top {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-start;
}
.elem-card span {
  color: yellow;
  font-weight: bolder;
}
.elem-card__front-bot {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 0.55rem;
  justify-content: space-between;
  padding: 25% 5% 0 5%;
}
.elem-card__back {
  position: relative;
  left: 50%;
  background-color: hsl(270deg, 3%, 87%);
  font-size: 0.6rem;
}
.elem-card__back-top {
  background-color: rgb(44, 43, 43);
  height: 40%;
  width: 100%;
  border-radius: 0px;
}
.elem-card__back-mid {
  background-color: rgb(180, 176, 176);
  flex-direction: row;
  justify-content: flex-end;
  height: 50%;
  width: 80%;
  margin: 0 auto;
}
.elem-card__back-bot {
  text-align: center;
  padding: 5% 10% 5% 10%;
  color: hsl(279deg, 9%, 55%);
}

@media only screen and (max-width: 966px) {
  .elem-card {
    width: 240px;
    height: 150px;
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .elem-card {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 540px) {
  .col-left-side {
    display: none;
  }

  .col-right-side {
    width: 100vh;
  }

  h1 {
    font-size: 1.5rem;
  }

  form, .border-wrapper, .input-wrapper__name {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
