@import 'variables';
@import 'typography';
@import 'components';

body {
    display: flex;
   
}

.main-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.col-left-side {
    background-color: $col-violet-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.col-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $col-white;


}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.border-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .7rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;

    &__month, &__year, &__cvc{
        width: 33.33333%;
    }

    &__expire {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        
    }

    &__expire-cvc {
        position: relative;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        margin: 0 auto;
        
    }

    &__date-cvc {
        width:100%;
        
    }
}

.btn {
    height: 1.8rem;
    width: 100%;
    &__btn-submit {
        color: $col-white;
        background-color: $col-violet-dark;
        border: none;
        padding: 5px;
        border-radius: 5px;
        position: relative;

        &:hover {
            background-color: rgba($col-blue, .9);
            box-shadow: 0 0 5px blue;
        }
    }
}

.elem-card {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    // border: 0.25px solid red;
    color: $col-white;
    letter-spacing: 2.5px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;

    &__front {
        position: relative;
        background: $col-primary;
        left: 30%;
        
        
    }

        &__front-top {
            display: flex;
            width: 80%;
            flex-direction: row;
            justify-content: flex-start;
        } 
            span{
                color: yellow;
                font-weight: bolder;
            }


        &__front-bot{
            display: flex;
            width: 100%;
            flex-direction: row;
            font-size: .55rem;
            justify-content: space-between;
            padding: 25% 5% 0 5%;
        }

    &__back {
        position: relative;
        left: 50%;
        background-color: $col-gv-light;
        font-size: .6rem;
        
    }
        &__back-top {
            background-color: rgb(44, 43, 43);
            height: 40%;
            width: 100%;
            border-radius: 0px;
        }

        &__back-mid {
            background-color: rgb(180, 176, 176);
            flex-direction: row;
            justify-content: flex-end;
            height: 50%;
            width: 80%;
            margin: 0 auto;
        }

        &__back-bot {
            text-align: center;
            padding: 5% 10% 5% 10%;
            color: $col-gv-dark;
        }
    

    }


$screen-l: 966px; // laptop and above
$screen-m: 768px; // tablet 
$screen-s: 540px; // mobile

@media only screen and (max-width: $screen-l){
    .elem-card {
        width: 240px;
        height: 150px;
        font-size: .6rem;
    }
};

@media only screen and (max-width: $screen-m){
    .elem-card{
        display: none;
    }
}

@media only screen and (max-width: $screen-s){
    .col-left-side{
        display:none;
    }

    .col-right-side{
        width: 100vh;
    }

    form, .border-wrapper, .input-wrapper__name {
        width: 80%;
    }
    

}